/* Will be compiled down to a single stylesheet with your sass files */
body {
  background: #eee;
}

.container-fluid .doc-list li {
  padding: 15px;
  border-bottom: 1px solid #CCC;
  font-size: 125%;
  cursor: pointer;
}

.container-fluid .span8 .title {
  font-size: 24px;
  line-height:36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.container-fluid .doc-list li.selected {
  background-color: #CCC;
  color: #fff;
}

.container-fluid textarea {
  border: none;
  border: #ddd 1px outset;
  height: 900px;
  font-size: 200%;
  line-height: 100%;
}