/* Will be compiled down to a single stylesheet with your sass files */
body {
  background: #eee;
}

.container {
  
}

.container textarea {
  border: none;
  border: #ddd 1px outset;
  height: 900px;
  margin: 30px auto;
  font-size: 200%;
  line-height: 100%;
}