<label for="protocol">Active Protocol:</label>
<select name="protocol" ng-model="protocol">
  <option ng-repeat="protocol in protocols" value="{{protocol.name}}">{{protocol.name}}
</select>
<table class="table table-striped row-fluid">
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        name
      </th>
      <th>
        description
      </th>
      <th>
        edit
      </th>
      <th>
        delete
      </th>
    </tr>
  </thead>
  <tbody>
    <form ng-submit="addItem(item)" class="form-inline form">
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          <input ng-model="item.name" placeholder="item name">
        </td>
        <td>
          <input ng-model="item.description" placeholder="item description">
        </td>
        <td colspan="2">
          <button type="submit">Save</button>
        </td>
      </tr>
    </form>
    <tr ng-repeat="i in items">
      <td>
        {{ i.id }}
      </td>
      <td>
        <span ng-bind="i.name" ng-show="!edit"></span>
        <input ng-model="i.name" ng-show="edit" type="text">
      </td>
      <td>
        <span ng-bind="i.description" ng-show="!edit"></span>
        <input ng-model="i.description" ng-show="edit" type="text">
      </td>
      <td>
        <a ng-show="!edit" ng-click="edit = true">
          edit
        </a>
        <a ng-show="edit" ng-click="edit = null">
          stop editing
        </a>
      </td>
      <td><a ng-click="removeItem($index)">delete</a></td>
    </tr>
  </tbody>
</table>